<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span jhiTranslate="recipeApp.category.detail.title">Category</span> {{ category.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recipeApp.category.categoryName">Category Name</span></dt>
                <dd>
                    <span>{{ category.categoryName }}</span>
                </dd>
                <dt><span jhiTranslate="recipeApp.category.notes">Notes</span></dt>
                <dd>
                    <span *ngFor="let notes of category.notes; let last = last">
                        <a [routerLink]="['/notes', notes?.id, 'view']">{{ notes.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
