<div>
    <h2 id="page-heading">
        <span jhiTranslate="recipeApp.ingredient.home.title">Ingredients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ingredient" [routerLink]="['/ingredient/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="recipeApp.ingredient.home.createLabel">
            Create a new Ingredient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ingredients?.length === 0">
        <span jhiTranslate="recipeApp.ingredient.home.notFound">No ingredients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ingredients && ingredients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="recipeApp.ingredient.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="recipeApp.ingredient.amount">Amount</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingredient of ingredients ;trackBy: trackId">
                    <td><a [routerLink]="['/ingredient', ingredient.id, 'view']">{{ ingredient.id }}</a></td>
                    <td>{{ ingredient.description }}</td>
                    <td>{{ ingredient.amount }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ingredient', ingredient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ingredient', ingredient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ingredient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
